.window-content {
  background: black;
  color: white;
  padding: 15px;
}

.routing-group {
  background: #181818;
  padding: 5px;
  border: 1px solid #303030;
  border-radius: 5px;
  color: #d0d0d0;
}

.route-label {
  font-size: smaller;
  border-radius: 3px;
}

.route-label:hover {
  background: @theme_selected_bg_color;
  outline: 2px solid @theme_selected_bg_color;
}

.route-label:drop(active) {
  box-shadow: none;
  background: @theme_selected_bg_color;
}

button {
  padding: 0px 5px 0px 5px;
  border: 1px solid #181818;
  background: linear-gradient(175deg, #101010, #181818);
  box-shadow: none;
  font-weight: bold;
  color: #808080;
}

button:checked {
  color: #ffffff;
  border: 1px solid #202020;
}

button:hover {
  background: #202020;
}

button:disabled {
  background: #000000;
  color: #505050;
}

/* Button controls that are always disabled because they indicate status */
button.fixed {
  color: #ffffff;
}

/* Combobox controls that are always disabled because they indicate status */
combobox.fixed > box > button {
  color: #ffffff;
}

/* Buttons that glow when on */
button.sync-status {
  text-shadow: 0 0 5px #a00000, 0 0 15px #800000;
}

button.sync-status:checked {
  text-shadow: 0 0 5px #00c000, 0 0 15px #00c000;
}

button.input-select:checked {
  color: #ffffff;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
}

button.input-link:checked {
  text-shadow: 0 0 5px #00c000, 0 0 15px #00c000;
}

button.autogain:checked {
  text-shadow: 0 0 5px #0000ff, 0 0 15px #0000ff;
}

button.safe:checked {
  text-shadow: 0 0 5px #00c000, 0 0 15px #00c000;
}

button.inst:checked {
  text-shadow: 0 0 5px #ff0000, 0 0 15px #ff0000;
}

.gen4 button.inst:checked {
  text-shadow: 0 0 5px #00c000, 0 0 15px #00c000;
}

button.air:checked {
  text-shadow: 0 0 5px #ffc000, 0 0 15px #ffc000;
}

button.pad:checked {
  text-shadow: 0 0 5px #00c000, 0 0 15px #00c000;
}

button.phantom:checked {
  text-shadow: 0 0 5px #ff0000, 0 0 15px #c00000;
}

.gen4 button.phantom:checked {
  text-shadow: 0 0 5px #00c000, 0 0 15px #00c000;
}

/* Direct Monitor Checked (Solo) */
.direct-monitor:checked {
  text-shadow: 0 0 5px #00c000, 0 0 15px #00c000;
}
