.route-label {
  font-size: smaller;
  border-radius: 3px;
}

.route-label:hover {
  background: @theme_selected_bg_color;
  outline: 2px solid @theme_selected_bg_color;
}

.route-label:drop(active) {
  box-shadow: none;
  background: @theme_selected_bg_color;
}

button {
  padding: 0px 5px 0px 5px;
}
