.window-content {
  background: black;
  color: white;
  padding: 15px;
}

.routing-group {
  background: #181818;
  padding: 5px;
  border: 1px solid #303030;
  border-radius: 5px;
  color: #d0d0d0;
}

.route-label {
  font-size: smaller;
  border-radius: 3px;
}

.route-label:hover {
  background: @theme_selected_bg_color;
  outline: 2px solid @theme_selected_bg_color;
}

.route-label:drop(active) {
  box-shadow: none;
  background: @theme_selected_bg_color;
}

button {
  padding: 0px 5px 0px 5px;
  border: 1px solid #181818;
  background: linear-gradient(175deg, #101010, #181818);
  box-shadow: none;
  font-weight: bold;
  color: #808080;
}

button:checked {
  color: #ffffff;
}

button:hover {
  background: #202020;
}
